In [47]:
import requests
from bs4 import BeautifulSoup
import urllib

In [46]:
# Collect and parse first page
page = requests.get('https://towardsdatascience.com/web-scraping-using-python-4cb2faade338')
soup = BeautifulSoup(page.text, 'html.parser')


val = soup.find('div',{"class":"ae jp ab dh v w"})
print(val)

None

In [47]:
#print(page.text)

In [48]:
page = requests.get('https://www.prokabaddi.com/standings')
soup = BeautifulSoup(page.text, 'html.parser')
val = soup.find_all('div',{"class":"sipk-standing-dataRow   common-standing-dataRow si-formguide-active"})
#val1 = val.find_all('span')
print(val)

[]

## Using Selenium to scrape dynamic content

In [1]:
#Importing packages
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome('C:\Program Files\chromedriver.exe')

In [3]:
driver.get('https://www.prokabaddi.com/standings')

In [4]:
#content = driver.find_element_by_class_name('container')

In [5]:
elements = driver.find_elements_by_xpath("//div[@class = 'standing-dataRow-wrap active']")

In [6]:
len(elements)

0

In [7]:
#for i in x:
    #print(i.text)

In [8]:
x = pd.DataFrame(columns = ['sno', 'name'])
x1 =pd.DataFrame(columns = ['sno', 'name','P','W','L','T','scoreDiff','pts'])

In [9]:
x1

Empty DataFrame
Columns: [sno, name, P, W, L, T, scoreDiff, pts]
Index: []

In [10]:
for ele in elements:
    values = (ele.text).split('\n')
    sno = values[0]
    name = values[1]
    x = x.append({'sno': sno, 'name':name}, ignore_index=True)

In [11]:
x

Empty DataFrame
Columns: [sno, name]
Index: []

In [12]:
for ele1 in elements:
    values = (ele1.text).split('\n')
    sno = values[0]
    name = values[1]
    var1 = values[2]
    var2 = values[3]
    var3 = values[4]
    var4 = values[5]
    var5 = values[6]
    var6 = values[7]
    x1 = x1.append({'sno': sno, 'name':name,'P':var1,'W':var2,'L':var3,'T':var4,'scoreDiff':var5,'pts':var6}, ignore_index=True)

In [13]:
x1

Empty DataFrame
Columns: [sno, name, P, W, L, T, scoreDiff, pts]
Index: []

In [14]:
#x1.to_csv(r'C:\Users\aninda.bhattacharjee\Documents\py_project\pro_kabbadi_standing_season_7.csv',index=None,header=True)

In [15]:
x3 =pd.DataFrame(columns = ['sno', 'sno1','name','P','W','L','T','scoreDiff','pts'])
x3

Empty DataFrame
Columns: [sno, sno1, name, P, W, L, T, scoreDiff, pts]
Index: []

In [16]:
for ele1 in elements:
    values = (ele1.text).split('\n')
    sno = values[0]
    sno1 = values[1]
    name = values[2]
    var1 = values[3]
    var2 = values[4]
    var3 = values[5]
    var4 = values[6]
    var5 = values[7]
    var6 = values[8]
    var7 = values[9]
    x3 = x3.append({'sno': sno, 'sno1':sno1,'name':name,'P':var1,'W':var2,'L':var3,'T':var4,'scoreDiff':var5,'pts':var6,'x':var7}, ignore_index=True)

In [69]:
#x3.drop(columns=x3.columns)

In [78]:
x3

   sno                   sno1 name   P   W  L    T scoreDiff pts
0    1      Dabang Delhi K.C.   16  13   2  1   68        69  30
1    2        Bengal Warriors   17  10   4  3   84        63  30
2    3       Haryana Steelers   16  10   5  1   25        54  30
3    4            U.P. Yoddha   17   9   6  2  -26        53  30
4    5        Bengaluru Bulls   17   9   8  0   10        50  30
5    6                U Mumba   16   8   7  1   29        48  30
6    7   Jaipur Pink Panthers   17   7   8  2   -6        46  30
7    8          Puneri Paltan   18   6   9  3  -42        42  30
8    9          Patna Pirates   17   6  10  1    8        38  30
9   10  Gujarat Fortunegiants   17   5  10  2   -8        38  30
10  11          Telugu Titans   16   4   9  3  -58        33  30
11  12        Tamil Thalaivas   18   3  12  3  -84        30  30

In [ ]:
x3.to_csv(r'C:\Users\aninda.bhattacharjee\Documents\py_project\pro_kabbadi_standing_season_6.csv',index=None,header=True)

In [ ]:
#x1.to_csv(r'C:\Users\aninda.bhattacharjee\Documents\py_project\pro_kabbadi_standing_season_7.csv',index=None,header=True)

In [ ]:
driver.get('https://www.prokabaddi.com/stats/49-102-total-points-statistics')

In [ ]:
elements1 = driver.find_elements_by_xpath("//div[@class='lb-detailItem-wrap']")

In [ ]:
len(elements1)

In [ ]:
x2 = pd.DataFrame(columns = ['rank', 'name','Role','Maches_played/total'])

In [ ]:

i=0
for ele1 in elements1:
    values = ele1.value()
    val0= values[0]
    val1= values[1]
    val2= values[2]
    val3= values[3]
    #val4= values[4]
    x2 = x2.append({'rank':val0, 'name':val1,'Role':val2,'Maches_played/total':val3}, ignore_index=True)

In [ ]:
x2

In [ ]:
x2.to_csv(r'C:\Users\aninda.bhattacharjee\Documents\py_project\pro_kabbadi_Player_statistics_total_points.csv',index=None,header=True)

In [71]:
elements2 =driver.find_elements_by_xpath("//div[@class = 'standing-dataRow-wrap active']")

In [72]:
x4 =pd.DataFrame(columns = ['sno', 'sno1','name','P','W','L','T','scoreDiff','pts'])

In [73]:
x4

Empty DataFrame
Columns: [sno, sno1, name, P, W, L, T, scoreDiff, pts]
Index: []

In [74]:
for ele1 in elements2:
    values = (ele1.text).split('\n')
    sno = values[0]
    sno1 = values[1]
    name = values[2]
    var1 = values[3]
    var2 = values[4]
    var3 = values[5]
    var4 = values[6]
    var5 = values[7]
    #var6 = values[8]
    x4 = x4.append({'sno': sno, 'sno1':sno1,'name':name,'P':var1,'W':var2,'L':var3,'T':var4,'scoreDiff':var5,'pts':var6}, ignore_index=True)

In [75]:
x4

,sno,sno1,name,P,W,L,T,scoreDiff,pts
0,1,Q,Gujarat Fortunegiants,22,17,3,2,117,30
1,2,Q,U Mumba,22,15,5,2,189,30
2,3,Q,Dabang Delhi K.C.,22,11,9,2,-1,30
3,4,Puneri Paltan,22,8,12,2,-45,52,30
4,5,Jaipur Pink Panthers,22,6,13,3,-69,43,30
5,6,Haryana Steelers,22,6,14,2,-91,42,30
6,1,Q,Bengaluru Bulls,22,13,7,2,104,30
7,2,Q,Bengal Warriors,22,12,8,2,2,30
8,3,Q,U.P. Yoddha,22,8,10,4,-45,30
9,4,Patna Pirates,22,9,11,2,-36,55,30
10,5,Telugu Titans,22,8,13,1,-55,51,30
11,6,Tamil Thalaivas,22,5,13,4,-70,42,30

In [43]:
elements3 =driver.find_elements_by_xpath("//div[@class='si-data-block']")

In [44]:
len(elements3)

115

In [45]:
for ele1 in elements3:
    values1 = ele1.text
    print(values1)

SEASONS
MATCHES PLAYED
WINS
DRAWS
LOSSES
FINISHING POSITION
TOTAL RAIDS
SUCCESSFUL RAIDS
UNSUCCESSFUL RAID
EMPTY RAIDS
SUCCESS RAID %
NO. OF SUPER RAIDS
RAID TOUCH POINTS
RAID BONUS POINTS
TOTAL RAID POINTS
TOTAL TACKLES
SUCCESSFUL TACKLES
UNSUCCESFUL TACKLES
SUCCESSFUL TACKLE %
NO. OF SUPER TACKLES
ALL OUTS INFLICTED
TOTAL ALL OUT POINTS
TOTAL DEFENCE POINTS
OVERALL
SEASON 7
SEASON 6
SEASON 5
62
14
9
39
-
18
3
3
12
12
22
5
4
13
6
22
6
2
14
6
2697
943
623
1131
42%
16
862
280
1142
750
248
194
308
42%
4
239
74
313
925
344
222
359
45%
7
314
105
419
1022
351
207
464
40%
5
309
101
410
1415
502
913
39%
45
52
104
545
400
144
256
39%
13
13
26
155
498
174
324
38%
15
20
40
189
517
184
333
39%
17
19
38
201

In [83]:
x5 = pd.DataFrame(columns = ['seasons', 'overall','s7','s6','s5','s4','s3','s2','s1'])
x5

Empty DataFrame
Columns: [seasons, overall, s7, s6, s5, s4, s3, s2, s1]
Index: []

In [87]:
for ele1 in elements3:
    values = (ele1.text).split('\n')
    seasons = values[0]
    overall = values[1]
    s7 = values[2]
    s6 = values[3]
    s5 = values[4]
    s4 = values[5]
    s3= values[6]
    #s2 = values[7]
    #s1 = values[8]
    x5 = x5.append({'seasons': seasons, 'overall':overall,'s7':s7,'s6':s6,'s5':s5,'s4':s4,'s3':s3,'s2':s2,'s1':s1}, ignore_index=True)

IndexError: list index out of range